/* You can add global styles to this file, and also import other style files */
ul{list-style-type: none;}
thead tr,.filterrow,.columns ul,.hide{
    display: none;
}
thead tr:first-child, .filterrow:first-child{
    display: table-row;
}
.columns ul:first-child{display: block;}
table, th, td {
    border: 1px solid black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.main-container,.nodata td{
    text-align: center;
}
.dynamic-content{
    margin-top:2%;
}
